---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
spec:
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      app: nats
      nats_cluster: nats-cluster
  resources:
    requests:
      memory: 400Mi
  enableAdminAPI: true